/*===== Body Reset =====*/
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/*============== TOP BAR ===============*/

.top-bar {
    background: #009ECC;
    height: 2.8rem;
    padding: 0.5rem 0; 
}
.top-bar a {
    color: #FFFFFF;
    text-decoration: none;
}
.top-bar p {
    color: rgba(255, 255, 255, 0.83);
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none!important;

    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

/*============= NAVIGATION ===============*/
.navbar-brand img {
    height: 3.5rem;
}
.navbar {
    padding: .8rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .1);
    z-index: 1;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    color: #5b5555!important;
}
.nav-link.active,
.nav-link:hover {
    color: #009ECC!important;
}

/*====================================================================================================================================*/

/*===== Here is the end of the Navigation part. Start off with the page content from here =====*/

/*====================================================================================================================================*/

/*=========== FOOTER =============*/
footer {
    background-color: #383838;
    padding: 1rem 2rem 3rem;
}
footer img {
    margin: auto;
}
footer p, footer a,
.socket a {
    color: white;
    text-decoration: none;
}
ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
}
ul.social li {
    margin: 0 auto;
    font-size: 2rem;
}

/*============ SOCKET ===============*/
.socket {
    background-color: #222222;
    border-top: 0.1rem solid #009ECC;
}

/*======== MEDIA QUERIES =========*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}